$background-light: #78c8e3;
$background-medium: #50a0bb;
$background-dark: #287893;
$color-light: #e278c8;
$color-medium: #ba509f;
$color-dark: #932778;

$border-radius: 4px;

$header-min-height: 100px;
