@import "theme";

.App {
    text-align: center;
    min-height: 100%;
    min-width: 100%;

    overflow: hidden;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100%;
    min-width: 100%;

    margin-top: $header-min-height;
    overflow: visible;
}

.Header {
    position: absoulte;
    top: 0;
    width: 100%;

    max-height: 250px;
    min-height: $header-min-height;
    margin-bottom: -$header-min-height;

    background-color: #DDDDEE;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        flex-direction: row;
        align-items: right;

        div {
            background-color: #CCCCEE;
            margin: 10px;
            padding: 5px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .LanguageSelection {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        float: right;

        margin: 20px;

        p {
            color: #8f8f8f;
            margin: 2px;
        }

        select {
        }
    }
}

.Wrapper {
    width: 40%;
}

.Error {
    color: #DD3838;
    padding: 10px
}

.SameLine {
    form {
        display: flex;
        justify-content: space-between;
    }
}

a {
    color: black;
}
