@import "theme";

.App {
    text-align: center;
    height: 100%;
    width: 100%;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.Header {
    position: absoulte;
    top: 0;
    width: 100%;

    max-height: 250px;
    min-height: $header-min-height;
    margin-bottom: -$header-min-height;

    background-color: #DDDDEE;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: right;

        div {
            background-color: #CCCCEE;
            margin: 10px;
            padding: 5px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

/*
.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin: 20px;
    padding: 20px;
}
*/

.SameLine {
    form {
        display: flex;
        justify-content: space-between;
    }
}
